.mat-dialog-actions {
  justify-content: flex-end;
}

textarea {
  resize: none;
}

.tags {
  padding-top: 10px;
  padding-bottom: 10px;

  .tag {
  }

  .selected {
    background-color: green;
    color: white;
  }
}

